@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

@media (min-width: 40em) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
}

html {
  height: 100%;
  position: relative;
}

@media (min-width: 40em) {
  body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0px;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    }
  }

  #fondo{
    background-image: url(../assets/back.jpg);
    background-size: cover;
    margin: 0px 0px;
  }

   h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 600;
    line-height: 1.2;
    
  }

  h1, .h1 {
    font-size: calc(2.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 6rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 4rem;
    }
  }
  
  h3, .h3 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 2rem;
    }
  }
  
  h4, .h4 {
    font-size: 1.5rem;
  }
  
  h5, .h5 {
    font-size: 1rem;
  }
  
  h6, .h6 {
    font-size: 0.75rem;
  }
  
  p {
    margin-top: 0;
    font-size: 0.90rem;
    color: white;
    }

#barra{
    
    min-height: 100px;
    width: 100%;
    
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 6%;
}

@media (width <= 1500px){
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px auto;
    padding: 0px 0px;
    row-gap: 1rem;
  }
}

@media (width <= 450px){
  nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
  }
}

#logo{
    margin-top: 20px;
    
}

@media (width <= 450px){
  #logo img{
    width: 100%;
    
  }
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3px 3px 3px 3px;
}

nav ul a li{
    border: 1px solid rgb(3, 35, 54);
    border-radius: 5px;
    background-color: rgb(3, 35, 54);
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
}


nav ul a li:hover,
nav ul a li:focus{
    color: rgb(9, 128, 197);
    background:rgb(9, 128, 197);
    color: #fff;
    transition: background-color 0.3s ease-out;
    outline: 0;
}

.Continente{
    display: flex;
    flex-wrap: wrap;
    margin: 10rem auto 0rem auto;
    min-height: 60vh;
    gap: 3em;
    }


    @media (width= 1024px) {
      .Continente{
      display: flex;
      margin-bottom: 60px;
      margin: 3rem 1rem 1rem 1rem;
      min-height: 60vh;
      gap: 3em;
      }
      
    }

  @media (width <= 450px) {
    .Continente{
    display: block;
    margin-bottom: 60px;
    margin: 30px auto;
    min-height: 60vh;
    gap: 3em;
    }
    
  }

  @media (min-width: 40em) {  
#Paises{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 20px auto;
    gap: 1.5em;
    }
}

@media (width <= 450px) {
#Paises{
  
  display: block;
  margin-bottom: 60px;
  margin: 30px auto;
  min-height: 60vh;
  gap: 1em;
  }
  
}

#Paises .card{
    position: relative;
    width: 14rem;
    height: 19rem;
    margin: 20px auto;
}

.card{
    position: relative;
    width: 18.75rem;
    height: 25rem;
    margin: 10px auto;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px grey;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
   position: absolute;
   bottom: 0; 
   width: 100%;
   height: 45px;
   line-height: 45px;
   color: white; 
   background: rgba(0, 0, 0, 4);
   text-align: center;
}

#Paises .card .front h3 {
  font-size: 20px;
  position: absolute;
  bottom: 0; 
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white; 
  background: rgba(0, 0, 0, 4);
  text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    width: 100%;
    height: 100%;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px grey;
    }

    @media (width <= 450px) {
    .card .back{
      transform: perspective(600px) rotateY(180deg);
      background: rgb(3, 35, 54);
      padding: 15px;
      width: 90%;
      height: 90%;
      color: #f3f3f3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 5px 10px grey;
      }  
    }

    .link-back{
        color: #f3f3f3;
        padding: 15px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .card .back .link{
        border-top: solid 1px #f3f3f3;
        height: 50px;
        line-height: 50px;
    }

    .card .back .link a{
       color: #f3f3f3;
       font-size: 1.5rem; 
    }

    .card .back h3{
        font-size: 30px;
        margin-top: 5px;
        letter-spacing: 2px;
    }

    #Paises .card .back h3{
      font-size: 20px;
      margin-top: 20px;
      letter-spacing: 2px;
  }

    .card .back p {
        letter-spacing: 1px;
    }

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}



#formulario {
  grid-area: cards;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  margin: 150px auto;
  background: rgba(9, 128, 197, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: white;
}

.contacto{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

form ::placeholder{
  color: white;
}

form input,
form textarea {
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid rgb(3, 35, 54);
}

form button{
  width: 100%;
  padding: .7em;
  margin-top: 8px;
  border: none;
  border-radius: 10px;
  background: none;
  outline: 0;
  color: #fff;
  background: rgb(3, 35, 54);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

form button:hover,
form button:focus {
  background:white;
  color: black;
  transition: background-color 1s ease-out;
  outline: 0;
}

footer{
  background-color: rgba(9, 128, 197, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  margin-top: 30px;
  width: 100%;
  bottom: 0;
}

@media (width <=450px){
  footer{
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
  }
}

footer p{
  letter-spacing: 1px;
  color: white;
  font-size: 1em;
  justify-content: center;
}

footer a{
  color: white;
  letter-spacing: 1px;
}